/* ==================
    Global Styles
    ================= */

/* changed default font size from rem to pixels to create a more dynamic website */
/* 1 rem = 16px which is why I set default font size to 62.5%  (16 x 0.625 = 10) */
/* Now I have a base 10 font system that can adjust to the user's set preferences */

header {
    font-size:62.5%;
}

body{
    background-color:#1d1d1d;
    color:#c2c2c2;
    font-family:Arial, sans-serif;
}


/* ==================
    Text Modifier Classes
    ================= */

    .highlight {
        background: yellow;
    }
    
    .bold {
        font-weight:bold;
    }
    
    .italic {
        font-style:italic;
    }
    
    
/* ==================
    Content
    ================= */

a {
    color:#8ab4f8;
}


h1 { 
    color:#e2e2e2;
    font-size:3.0rem;
}

h2 { 
    color:#e2e2e2;
    font-size:2.5rem;
}

.header {
    background:#121212;
    padding:1rem;
}


table{
    background-color: #323232;
    padding:5px;
}

td {
    padding:5px;
}